html{
    position: relative;
    margin:0;
    padding:0;
}
.wrapper {
    display: flex;

    align-items: stretch;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
.sidebar-header{
    padding: 10px;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #007bff;
}
#sidebar ul li a:active
{
    color: #fff;
    background: #6d7fcc;
}
#content {
    width: 100%;
    padding: 20px;
    margin-bottom: 60px;
    min-height: 100vh;
    transition: all 0.3s;
}
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}
#footer{
    position:absolute;
    bottom: 0;

    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */


}
@media (max-width: 1025px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
