.wrapper {
    display: flex;

    align-items: stretch;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
.sidebar-header{
    padding: 10px;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #007bff;
}
#sidebar ul li a:active
{
    color: #fff;
    background: #6d7fcc;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}